
@media only scren and (max-width:720x)
{
    img {display: none;}
    .info {display: none;}
}

.title_image {
    margin-left: 20pt;
    margin-top:20pt;
    margin-bottom: 10pt;
}

.menu {
    margin-top: 20pt;
    margin-right: 20pt; 
    float: right;
    border-radius: 5em; padding: 0.6em 1em; 
   background: white;
   box-shadow: 1px 2px 5px black; 
      
}

body{
	font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(230, 228, 228, 0.904);
}

h2 {
    font-family: 'fantasy';
    font-size: 30pt;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 70pt;
    margin-bottom: 10pt;
    text-align: center;
}

.introduction {
    font-family: 'fantasy';
    text-align: center;
    font-size:14pt;
    margin-right: 300pt;
}

.info {
        float:right;
        margin-right:105pt;
        margin-top: 0pt;
}

nav ul li {
	display: inline;
	list-style-type: none;
}
nav ul li a:hover{
	background-color: #369;
	color: #fff;
}

p {
	margin-top: 5px;
}
.title {

	text-align: right;
}
.main {
	/* You can set the margin property to auto to horizontally center the element within its container.
	The element will then take up the specified width,
	and the remaining space will be split equally between the left and right margins: */
	margin: auto;
	width:80%;
}
.copyright {
	font-size: small;
	margin-top: 10pt;
	text-align: center;
}

hr.dot_line {
   margin-top: 100pt;
    border: none;
    border: 1px dashed;
    margin-left:10pt;
    margin-right:10pt;
}

.inspiration {
    margin-top:40pt;
    margin-left:40pt;
}

/* i used this blog(https://blogpack.tistory.com/814?category=804108) to make image slide*/
.slider{
    float: right;
    width: 60pt;
    height: 180pt;
    margin-top: 120px;
}
